.header {
  height: 5em;
  background-color: #000;
}

.header a {
  display: inline;
  float: left;
  text-decoration: none;
}

.header-title {
  margin-left: 0.5em; 
  font-size: 2em;
  color: #fff;  
  line-height: 2.5em;
}

.container {
  margin-left: 15px;
}

.racer_table {
  display:none;
}

.racer_table td {
  background-color: white;
  height: 50px;
  width: 50px;
  border: 1px solid #535353;
}

.racer_table td.active {
  background-color: black;
}

#game_id {
  display: none;
}

input[type="submit"] {
  border-radius: 15px;
  margin: 10px;
}

input[type="submit"]:hover {
  background-color: #545152;
  color: white;
}

#player_form {
  margin: 15px;
}

.field {
  margin: 10px;
}

.congrats-message {
  padding-bottom: 10px;
}

.comments {
  padding: 10px;
}

#winner {
  padding-top: 15px;
}
