<div class='container'>
  <form name='players' action='/games' method='post'>
    <%= @player1.errors.full_messages if @player1 && @player1.errors.any?%>
    <%= @player2.errors.full_messages if @player2 && @player2.errors.any?%>
    <div class='field'><input type='text' name='player1' placeholder='Input Player 1 username'/></div>
    <div class='field'><input type='text' name='player2' placeholder='Input Player 2 username'/></div>
    <div class='field'><input type='submit' value='Start game!'/></div>
  </form>
</div>

